/* http://www.colorcombos.com/color-scheme-275.html
 * 2B3E42
 * 747E80
 * D5E1DD
 * F7F3E8
 * F2583E
 * 77BED2
 * */

html 
{background-image:url('../images/back.gif');}

body
{background-color:#F7F3E8}

.header 
{ background: #f2583e; background: -moz-linear-gradient(top, #f2583e 0%, #dd3d27 98%, #4c1b13 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2583e), color-stop(98%,#dd3d27), color-stop(100%,#4c1b13)); background: -webkit-linear-gradient(top, #f2583e 0%,#dd3d27 98%,#4c1b13 100%); background: -o-linear-gradient(top, #f2583e 0%,#dd3d27 98%,#4c1b13 100%); background: -ms-linear-gradient(top, #f2583e 0%,#dd3d27 98%,#4c1b13 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2583e', endColorstr='#4c1b13',GradientType=0 ); background: linear-gradient(top, #f2583e 0%,#dd3d27 98%,#4c1b13 100%); } 

body
{min-height:900px}

body
{margin:2em}

body
{border:1px solid #777}

body
{position:static}

.header
{padding:1em}

.title
{display:inline-block}

body 
{ -webkit-box-shadow: 0px 0px 27px #2B3E42; -moz-box-shadow:    0px 0px 27px #2B3E42; box-shadow:         0px 0px 27px #2B3E42; } 
