body
{ width: 30em; }

#supportingText
{ width: 20em; }

#linkList
{ width: 9em; }

#supportingText,
#linkList
{ display: inline-block; }

#linkList
{ vertical-align: top; }
#linkList
{ left: 20em; }

#pageHeader
{ border: 0.5em black dashed; }

body
{ margin: auto; }

#pageHeader
{ margin: 2em 0; }

#pageHeader #title
{ text-align: right; }

h1, h2
{ padding: 0.25em; }

h1
{ font-size: 1.75em; }

h2
{ font-size: 1.25em; }
