<div class='editlink'>
  <label>Text</label>
  <input name='{{key}}' value='{{value}}' />
  <label>Destination</label>
  <input name='{{key}}_href' value='{{href}}' />
  <button id='save'>Save</button>
  <button id='clear'>Clear</button>
</div>
