/* http://www.colorcombos.com/color-scheme-275.html
 * 2B3E42
 * 747E80
 * D5E1DD
 * F7F3E8
 * F2583E
 * 77BED2
 * */

html 
{background-image:url('../images/back.gif');}

body
{background-color:#F7F3E8}

header
{ background: #f2583e; background: -moz-linear-gradient(top, #f2583e 0%, #cc4935 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2583e), color-stop(100%,#cc4935)); background: -webkit-linear-gradient(top, #f2583e 0%,#cc4935 100%); background: -o-linear-gradient(top, #f2583e 0%,#cc4935 100%); background: -ms-linear-gradient(top, #f2583e 0%,#cc4935 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2583e', endColorstr='#cc4935',GradientType=0 ); background: linear-gradient(top, #f2583e 0%,#cc4935 100%); } 

#extraDiv2
{background-image:url('../images/beval.gif')}

#extraDiv1
{background-image:url('../images/schoolhouse.png')}

#extraDiv2
{height:4px}

#extraDiv1
{height:250px}

header
{height:190px}

#extraDiv1
{width:194px}

body
{min-height:900px}

body
{margin:2em}

#extraDiv2
{margin-top:4em}

body
{border:1px solid #777}

body
{position:static}

#extraDiv1
{position:absolute}

#extraDiv2
{position:absolute}

#extraDiv1
{top:0.5em}

#extraDiv2
{top:190px}

#extraDiv1
{right:0.5em}

#extraDiv2
{right:2em;left:2em}

header, #supportingText
{padding:1em}

h1,h2
{padding:0.5em}

.title,
#extraDiv1
{display:inline-block}

h1
{font-size:3em}

h2
{font-size:2em}

#extraDiv1
{z-index:3}

body
{overflow-x:hidden}

body 
{ -webkit-box-shadow: 0px 0px 27px #2B3E42; -moz-box-shadow:    0px 0px 27px #2B3E42; box-shadow:         0px 0px 27px #2B3E42; } 

#extraDiv1 
{ -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -ms-transform: rotate(20deg); -o-transform: rotate(20deg); } 
