%section#container
  %header#intro
    %hgroup#pageHeader
      %h1.read#title=@fields[:title]
    %section#quickSummary
  %h2.read#announcement=@fields[:announcement]
  %section#supportingText
    %article
      %section.read#article1=@fields[:article1]
    %article
      %section.read#article2=@fields[:article2]
    %article
      %section.read#article3=@fields[:article3]
  %nav#linkList
    %ul
      %li
  %footer#outro
    %section#pagefooter

/ These extra divs/spans may be used as catch-alls to add extra imagery.
#extraDiv1
  %span
#extraDiv2
  %span
#extraDiv3
  %span
#extraDiv4
  %span
#extraDiv5
  %span
#extraDiv6
  %span
- if can? :update, @page
  :javascript
    App.page_id = #{@page.id};
    App.page_controller = new App.Pages({el:$('body')});
