%section#container
  %header#intro
    %hgroup#pageHeader
      %h1#title Title goes here
      %h2#announcement Announcement goes here
    %section#quickSummary
  %section#supportingText
    %article
      %time.date 6 min ago
      %section.author Jimmy Smyth
      Lorem ipsum  dolor sit amet,  consectetur adipiscing  elit. In mollis  lacus sit
      amet ipsum placerat tincidunt. Pellentesque habitant morbi tristique senectus et
      netus et malesuada fames ac turpis egesta
      %a{:href => "#"} ...read more
    %article
      %time.date yesterday
      %section.author Jimmy Smyth
      Nulla interdum  diam a  est sagittis  ut eleifend urna  egestas. Fusce  sit amet
      ligula purus, vel interdum dolor.  Aenean auctor, dolor eleifend mollis euismod,
      ante  lectus faucibus  nunc, id  ornare erat  magna eget  lacus. Duis  ultricies
      cursus pulvinar.  Mauris tinc
      %a{:href => "#"} ...read more
  %nav#linkList
    %ul
      %li
        %a{:href => "#"} Lorem ipsum
      %li
        %a{:href => "#"} Nullam quis
      %li
        %a{:href => "#"} Ut cursus
      %li
        %a{:href => "#"} Etiam at
      %li
        %a{:href => "#"} Cras malesuada
      %li
        %a{:href => "#"} Integer a enim
      %li
        %a{:href => "#"} Morbi molestie
  %footer#outro
    %section#pagefooter

/ These extra divs/spans may be used as catch-alls to add extra imagery.
#extraDiv1
  %span
#extraDiv2
  %span
#extraDiv3
  %span
#extraDiv4
  %span
#extraDiv5
  %span
#extraDiv6
  %span
