#pageHeader
{ border: 0.5em dashed; border-color:#B2A1A1}

#supportingText
{ display: inline-block; }

h1
{ font-size: 1.75em; }

h2
{ font-size: 1.25em; }

#linkList
{ left: 19em; }

body
{ margin: auto; }

#pageHeader
{ margin: 2em 0; }

h1, h2
{ padding: 0.25em; }

#pageHeader #title
{ text-align: center; }

#linkList
{ position:relative; left: 30em; top:-53em; vertical-align: top;  border: 0.2em solid; border-color: #B2A1A1; padding-right:1em}

body
{ width: 40em; }

#supportingText
{ width: 27em; border: 0.2em solid; border-color: #B2A1A1; padding: 1em}

#linkList
{ width: 9em; }

html
{color: #8FB299;}

#announcement
{ border: 0.2em solid; border-color: #B2A1A1; padding: 1em; width: 21em}

.notice, .alert
{position: relative; color: red; left: 30em; display:inline}

.notice
{top: -16px}

.alert
{top:0px; left: 24.2em}

.themes:before
{content: "Change theme to: "}